body
{
    background-image: url(../img/background-body.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: top;
}
h1
{
    color:rgb(2, 110, 35);
}
*
{
    font-family: segoe ui;
}
a
{
    color: white;
}
header
{
    position: fixed;
    left: 20%;
    border-bottom: 2px solid rgba(221, 221, 221, 0.438);
    margin: auto;
    padding: 30px 0 30px 0;

    
}
.premiere_vue
{
    background-image: url(../img/background-acceuil.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
}
.copyright
{
    text-align: center;
    color: azure;
    padding-top: 30px;
    
}
.les_liens
{
    text-decoration: none;
    padding: 15px;
    left: 35%;
    font-family: segoe ui;
    padding-bottom: 30px;
    transition: .6s;
}
.les_liens:hover
{
    border-bottom: 2px solid rgb(243, 140, 22);
    transition: .6s;
}
.current
{
    border-bottom: 2px solid rgb(243, 140, 22);
    padding-bottom: 30px;
}

.nom_association
{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(104, 50, 6);
}
.presentation
{
    
    text-align: right;
    padding:20vh 10vw 0 0;
}
.slogan
{
    display: inline-block;
    width: 300px;
    color: gray;
    font-size: 20px;
}
hr
{
    background-color: rgb(243, 140, 22);
}
.notifications
{
    width: 70%;
    margin: auto;
    
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 4px rgba(27, 24, 24, 0.274);
    border-top: 2px solid rgb(243, 140, 22);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.fassociation
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 40px;
}
.passociation
{
    
    width: 26%;
    height: 200px;
    border-top: 2px solid rgb(2, 110, 35);
    box-shadow: 4px 4px 8px 4px rgba(27, 24, 24, 0.274);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(2, 110, 35);
}
.passociation:hover
{
    background-color: #fff;
    transition: .6s;
}
.sigle
{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
.description-sigle
{
    display: none;
    font-weight: bold;
    font-size: 0;
    transition: .6s;
}
.passociation:hover .sigle
{
   color: rgb(2, 110, 35);
}
.passociation:hover .description-sigle
{
    display: block;
    font-size: 15px;
    transition: .6s;
}
.notifications h1
{
    border-bottom: 1px solid rgb(2, 110, 35);
}
.notification{
    width: 60%;
    height: 500px;
    margin: auto;
    background-color: #fff;
    box-shadow: 4px 4px 8px 4px rgba(27, 24, 24, 0.274);
    border-top: 2px solid rgb(0, 173, 52);
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.notification_image
{
    width: 100%;
    height: 400px;
    background-color: aqua;
}
.notification_image 
{
    padding: auto;
}
.notification_texte
{
    padding:20px;
}
footer
{
    margin-top: 70px;
    height: 100px;
    background-color: black;
    border-top: 3px solid rgb(243, 140, 22);
}
.liste_des_membres
{

}
.titre_liste
{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    color: brown;
    margin-bottom: 10vh;
}
.liste_membre
{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    margin-top: 10vh;
}
.liste
{
    border: 1px solid  rgb(243, 140, 22);
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 5px;
    text-transform: uppercase;
    font-family: segoe ui;
    color: green;
    height: 30vh;
    margin-top: 5vh;
}
.photo_de_profil
{
    height: 60px;
    width: 60px;
    border: 2px solid  rgb(243, 140, 22);
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    padding: 3px;
    background-color: grey;
}
.nom
{
    border: 1px solid  rgb(243, 140, 22);   
}
.conexion
{
    width:10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
}
.form
{
    text-align: center;
}
form
{
    border: 1px solid orange;
    border-radius: 5%;
    display: inline-block;
    padding: 10px;
    margin: auto;
}
input
{
    width: 250px;
    height: 50px;
    font-family: segoe ui;
    border-color: orange;
    border-radius: 10px;
    border-style: solid;
}
.submit
{
    background-color: orange;
    color: green;
    font-size: 20px;
    font-weight: bolder;
}
.input_email_mdp
{
    background-color: rgb(114, 231, 114);
    font-weight: bold;
}
.entete_liste
{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}