body
{
    margin: 0;
    padding: 0;
}
*
{
    font-family: segoe ui;
}
a
{
    color: white;
}
header
{
    position: fixed;
    left: 20%;
    border-bottom: 2px solid rgba(221, 221, 221, 0.438);
    margin: auto;
    padding: 30px 0 30px 0;

    
}
.premiere_vue
{
    background-image: url(../img/background-acceuil.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
}
footer
{
    height: 100px;
    background-color: black;
    border-top: 3px solid rgb(243, 140, 22);
}
.copyright
{
    text-align: center;
    color: azure;
    padding-top: 30px;
    
}
.les_liens
{
    text-decoration: none;
    padding: 15px;
    left: 35%;
    font-family: segoe ui;
    padding-bottom: 30px;
    transition: .6s;
}
.les_liens:hover
{
    border-bottom: 2px solid rgb(243, 140, 22);
    transition: .6s;
}
.current
{
    border-bottom: 2px solid rgb(243, 140, 22);
    padding-bottom: 30px;
}
